<div class="row">
  <div class="col-md-6 text-center col-md-offset-3">

    <%- if devise_mapping.omniauthable? %>
      <%- resource_class.omniauth_providers.each do |provider| %>
      <div class="facebook-log-in">
        <%= link_to "Continue in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %><br />
      </div>
        <% end -%>
    <% end -%>

    <h4>or</h4>

    <h3 class="text-center">Log in</h3>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs text-left">
        <%= f.input :email, required: false, autofocus: true %>
        <%= f.input :password, required: false %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Log in", class: 'btn btn-primary' %>
      </div>
    <% end %>

      <%= render "devise/shared/links" %>
  </div>
</div>
